// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/text/ellipsis";
@import "compass/utilities/lists/horizontal-list";

// @import "partials/userbar";
// @import "partials/nav";

$site-width: 958px;
$light-blue: #4183C4;
$lighter-blue: #6699CC;
$slightly-darker-blue: #336699;
$light-gray: #DDDDDD;
$medium-gray: #888888;
$dark-gray: #444444;
html,body {
  height: 100%;
}
body {
  background: url("/images/page-bk.jpg") repeat fixed 0 0 #E6E6E6;
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;
  color: $dark-gray;
}

#main {
  height: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
}

a {
  color: $light-blue;
  @include hover-link;
  cursor: pointer;
}
table{font-size:inherit;font:100%;}
// input[type=text],input[type=password],input[type=image],textarea{font:99% helvetica,arial,freesans,sans-serif;}
select,option{padding:0 .25em;}
optgroup{margin-top:.5em;}
input.text{padding:1px 0;}
pre,code{font:12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;}
body *{line-height:1.4em;}
p{margin:1em 0;}
img{border:0;}
abbr{border-bottom:none;}

.notice {
  color: green;
}

label {
  cursor: pointer;
}

button, a.button, span.button {
  // should throw some gradients up in this bitch
  cursor: pointer;
  border: 1px solid $light-gray;
  border-radius: 4px;
  background-color: #fff;
  padding: 2px 6px;
  text-decoration: none;
  &:hover {
    border-color: $medium-gray;
  }
}
a.button {
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#header {
  height: 105px;
  width: $site-width;
  margin: 0 auto;
  h1 {
    font-family: 'Amaranth', arial, serif;
    line-height: 1.0;
    padding-top: 5px;
    font-size: 34px;
    margin-bottom: 0;
  }
  h2 {
    font-family: 'Amaranth', arial, serif;
    margin-bottom: 0;
    font-size: 16px;
    font-style: italic;
    margin-left: 10px;
  }

}


#site {
  box-shadow: 0 2px 4px #BBB;
  background-color: #FFF;
  //-15 -15 because of the padding
  width: $site-width - 15 - 15;
  min-height: 400px;
  padding: 10px 15px;
  margin: 0 auto;
}


.mission {
  margin: 10px 0;
  padding: 10px;
  border-top: 1px solid $dark-gray;
  div.mission-label {
    font-size: 22px;
    font-weight: bold;
  }
}

#footer {
  width: $site-width;
  margin: 10px auto;
  ul {
    li {
      padding-right: 4px;
      a {margin-right: 4px;}
    }
  }
}

.results {
  .result {
    background: none repeat scroll 0 0 #DDDDDD;
    box-shadow: 1px 1px 2px #888888;
    margin-bottom: 6px;
    padding: 4px;
  }
}

.services {
  li {
    position: relative;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 4px;
    .actions {
      position: absolute;
      top: 0;
      right: 0;
    }
    .service-types {
      span {
        border: none;
        padding: 2px 10px;
        margin: 0 4px;
        border-radius: 4px;
        color: #FFFFFF;
        background-color: #4183C4;
      }
    }
  }
}

