// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.organizations ul {
  list-style-type: none;
}

#page {
  position: relative;
  width: 100%;
}
#search_bar {
  background-color: #F5F5F5;
  height: 65px;
  #form_holder {
    padding-top: 15px;
    background-color: #F5F5F5;
  }
  form {
    background-color: #F5F5F5;
    margin-bottom: 0;
    #search_services {
      min-width: 400px;
      max-width: 600px;
      font-size: 150%;
      color: #222;
    }
    label {
      width: 270px;;
      text-align: left;
      padding-left: 30px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

#main_map {
  position: relative;
}

#panel .orgs {
  margin: 0;
}

#panel .orgs > li {
 border-bottom: 1px solid #E5E3DF;
 list-style-type: none;

 .title {
    padding: 5px 5px 0 5px;
    font-weight: bold;
    font-size: 1.2em;
 }

 .body {
   padding: 5px;
 }

 .tags ul {
   margin-left: 5px;
   padding-bottom: 5px;
 }

 .tags li {
   display: inline;
 }
}



#panel {
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 400px;
}

#map {
  position: relative;
  left: 301px;
  margin-right: 301px;
  box-shadow: 0 0 10px #888888 inset;
  height: 400px;
  border: 1px solid rgba(102, 102, 102, 0.25);
}

#map_canvas {
  height: 100%;
}

#show-org-map-holder {
  height: 400px;
  margin-bottom: 10px;
}


.tabs {
  li {
    float: left;
    background: #989898;
    display: table-cell;
    width: 1%;
  }

  li a {

  }
  li a.current {
  }
}

.pagehead {
  margin-bottom: 15px;

  #org-tabs {
    display: block;
    border-color: #EAEAEA #EAEAEA #CACACA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px 1px 2px 1px;
    margin: 10px 0 0;
    height: 34px;
    position: relative;
    background: url('bar_background.png') repeat-x scroll 0 0 transparent;
    background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
    background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
    li {
      list-style-type: none;
      display: table-cell;
      width: 1%;
      margin: 0;
      a {
        line-height: 35px;
        font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
        font-weight: bold;
        color: #888;
        display: block;
        border-right: 1px solid rgba(0, 0, 0, 0.04);
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 0 #FFFFFF;
        border-bottom: 2px solid #DADADA;
        &.selected {
          color: #000;
        }
      }
    }

    a span.label {
      vertical-align: middle;
    }
  }
}

.pagehead > ul#org-tabs li a {
  border-bottom: 2px solid #DADADA;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(0, 0, 0, 0.04);
  color: #777777;
  display: block;
  font-size: 12px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
}
.pagehead > ul#org-tabs li a:hover {
  color: #4183C4;
  background: -moz-linear-gradient(#FAFBFD, #DCE6EF);
  background: -webkit-linear-gradient(#FAFBFD,#DCE6EF);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafbfd',endColorstr='#dce6ef')";
}

.pagehead > ul#org-tabs li a.selected, .pagehead > ul#org-tabs li a.selected:hover {
    background: -moz-linear-gradient(#FCFCFC, #EBEBEB) repeat scroll 0 0 transparent;
    border-bottom: 2px solid #D26911;
    color: #000000;
}
.pagehead > ul#org-tabs li:first-child a {
    border-bottom-left-radius: 3px;
    border-left: medium none;
}

#org-info {
  #org-data {
    float: left;
//    p {
//      background: none repeat scroll 0 0 #F5F5F5;
//      border-radius: 0 0 3px 3px;
//      border-top: 1px solid #DDDDDD;
//      padding: 17px 20px 18px 20px;
//    }
  }
  #map_canvas {
    height: 275px;
    width: auto;
  }

  #show-org-map-holder {
    height: auto;
    float: right;
  }
}

#org-buttons {
  float: right;
}
#org-info .right-side {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

#joinModal form {
  margin-bottom: 0;
}
