<% content_for :tag_line  do %>
  <div class="page-header">
    <h1>Listing organizations</h1>
  </div>
<% end %>


  <ul>
    <% @organizations.each do |org| %>
      <li>
        <div class="well">
          <h3 class="span4"><%= link_to org.name, org %></h3>
          <%# <div class="span2 pull-right">%>
          <%#   <span class="left label notice">Awesome</span>%>
          <%#   <span class="left label notice">Shit!</span>%>
          <%# </div>%>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to 'New Organization', new_organization_path %>
