<%= content_for :tag_line  do %>
  <div class="page-header">
    <h1>Listing organizations</h1>
  </div>
<% end %>

<hr>

<div class="row">
  <ul class="unstyled">
    <% @organizations.each do |org| %>
      <li class="organization">
        <div class="row span14">
          <h3 class="span6"><%= link_to org.name, org %></h3>
          <div class="span4 pull-right">
            <span class="left label notice">Awesome</span>
            <span class="left label notice">Shit!</span>
            <span class="left label notice">Clothes</span>
            <span class="left label notice">Food</span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<br />

<%= link_to 'New Organization', new_organization_path %>
